[Unit]
Description=feaders-server component of Fedora headers searcher
Documentation=man:feaders-server
After=network.service

[Service]
Type=forking
EnvironmentFile=-/etc/feaders.env
PIDFile=/var/run/feaders-server.pid
ExecStart=/usr/bin/feaders-server -p $FEADERS_SERVER_PORT -a $FEADERS_SERVER_ADDRESS --drop-priv=feaders

[Install]
WantedBy=multi-user.target
